#box{
    position: relative;
    display: inline-block;
  }
  
  .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 31%;
    text-align: center;
    width: 60%;
    color: white;
  }
  
  #box .mouse{
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .mouse img{
    height: 30px;
  }
  
   #logo{
    height: 70px;
  }
  
  p{
    text-align: center;
    font-size: 12px;
  }
  
  .text h2{
    font-size: 42px;
  }
  
  h4{
    margin: 0 auto;
    text-align: center;
  }
  
  .row{
    margin-top: 20px;
  }
  
  #about{
    display: block;
  }
  
  #services {
    padding-top: 18px;
    display: block;
    background-image: url(../images/s_image.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
  }
  
  #icons{
    display: block;
    text-align: center;
  }
  
  #we-offer{
    width: 100%;
    display: inline-block;
  }
  
  #contactus{
    width: 100%;
    padding-top: 40px;
    display: block;
    background-image: url(../images/c_image.jpg);
    background-size: 100%,100%;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
  }
  input{
    background-color: inherit;
    height: 22px;
    margin-right: 10px;
    color: white;
  }
  
  #name{
    width: 330px;
  }
  
  #email{
    width: 300px;
  }
  
  textarea{
    background-color: inherit;
    margin-left: 10px;
    color: white;
  }
  
  form{
    margin-top: 20px;
  }
  
  ::placeholder{
    color: white;
  }
  
  ul{
    list-style: none;
  }
  
  #socialmedia{
    width: 100%;
    display: block;
    padding: 270px;
    padding-top: 0px;
  }
  
  #desc-des{
    display: none;
    text-align: center;
  }
  
  #desc-dev{
    display: none;
    text-align: center;
  }
  
  #desc-prod{
    display: none;
    text-align: center;
  }